#include <string>
#include <iostream>
#include "BigIntegerLibrary.hh"

using namespace std;

bool is_palindrome(string i){
  if (i == string(i.rbegin(), i.rend())) {
  return true;}
  else{
  return false;
  }
}

BigInteger apply196(string i){
string j;
j = (string(i.rbegin(), i.rend()));
BigInteger n, m;
n = stringToBigInteger(i);
m = stringToBigInteger(j);
return n + m;
}

int main() {
  long upper, lower, NatPal=0, NonLy=0, LyNum=0, count=0;
  BigInteger n;

  cout << "Give me the lower bound: ";
  cin >> lower;
  cout << "Give me the upper bound: ";
  cin >> upper;

  for(n=lower;n<=upper;n++){
    string i;
    i = bigIntegerToString(n);
    
    if (is_palindrome(i) == true){
      NatPal = NatPal + 1;
    } else{
      // either Lychrel or non-Lycherel, keep getting the apply196 of i until 30 times or Palindromes
      
      count=0;
      string k = i;
      
      do {
        k = bigIntegerToString(apply196(k));
        count = count + 1;
          } while((is_palindrome(k)) == false && count<=30);
          
      if(count>30){
        LyNum = LyNum + 1;
        cout<<"Lycherel number found: "<< i << endl;
      } else{
        NonLy++;
        }
      }
}

  cout << "The range of numbers analysed was from: " << lower << " to " << upper << endl;
  cout << "The amount of Natural Palindromes is: " << NatPal << endl;
  cout <<"The number of non-Lycherels encountered: "<< NonLy <<endl;
  cout<<"The number of Lycherel number candidates: "<< LyNum <<endl;

return 0;

}
